.videoCard-link {
  text-decoration: none;
  margin-bottom: 10px;
  width: 100%;
}

.linkText-dark {
  color: white;
}
.linkText-light {
  color: black;
}

.videoCard-thumbnailUrl-image {
  width: 100%;
  height: 200px;
}

.videoCard-title {
  font-size: 14px;
  margin: 0px;
  margin-bottom: 10px;
}

.videoCard-videoDetails-card {
  display: flex;
  align-items: center;
  padding: 10px;
  width: 100%;
}

.profile-image {
  height: 30px;
  width: 30px;
  margin-right: 10px;
}

.videoCard-videoTitle-card {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.videoCard-channelName-container {
  display: flex;
  width: 90%;
}

.videoCard-channelName-container p {
  margin: 0px;
  margin-right: 10px;
}

@media screen and (min-width: 768px) {
  .videoCard-link {
    width: 48%;
    margin-right: 5px;
  }
}

@media screen and (min-width: 1200px) {
  .videoCard-link {
    width: 30%;
    margin-right: 10px;
  }
}
