.savedVideos-main-container {
  display: flex;
  flex: 1;
  overflow-y: scroll;
}
.savedVideos-container {
  padding: 20px;
}

.saved-videos-unorder-container {
  list-style-type: none;
  padding: 0px;
  display: flex;
  flex-wrap: wrap;
}

.no-saved-videos-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.no-saved-videos-container h1 {
  font-size: 14px;
}
.no-saved-videos-image {
  height: 200px;
  width: 200px;
}

@media screen and (min-width: 768px) {
  .savedVideos-container {
    width: 75%;
  }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
  .savedVideos-container {
    width: 72%;
  }
}

@media screen and (min-width: 1200px) {
  .savedVideos-container {
    width: 80%;
  }
}
