.savedVideos-main-container {
  min-height: 92vh;
  display: flex;
}

.savedVideos-container {
  min-height: 92vh;
  flex-grow: 1;
}

.saved-videos-unorder-container {
  list-style-type: none;
  padding: 0px;
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
}

.no-saved-videos-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.no-saved-videos-container h1 {
  font-size: 14px;
}
.no-saved-videos-image {
  height: 200px;
  width: 200px;
}
