* {
  border: 1px solid blue;
}
.sideBar-container {
  display: none;
  font-family: 'Roboto';
}
.contact-us-heading {
  font-size: 18px;
}
.contact-us-para {
  font-size: 18px;
  font-weight: bold;
}
.sidebar-contact-container {
  padding: 20px;
}
.sidebar-contact-image {
  height: 35px;
  width: 35px;
  margin-right: 12px;
}
@media screen and (min-width: 768px) {
  .sideBar-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 25%;
    border-right: 1px solid black;
  }
  .unorder-sideBar-container {
    list-style-type: none;
    padding: 0px;
  }
  .sideBar-link {
    text-decoration: none;
  }
  .backgroundTheme-link-dark-style {
    color: white;
    background-color: #231f20;
  }
  .backgroundTheme-link-light-style {
    color: #212121;
  }
  .sideBar-icons {
    height: 25px;
    width: 25px;
    margin-right: 20px;
  }
  .selectedSetionStyleSideBar {
    color: red;
  }
  .selectedListStyleSideBarLight {
    background-color: #f1f5f9;
  }
  .selectedListStyleSideBarDark {
    background-color: #424242;
  }
  .sideBar-list-item {
    display: flex;
    align-items: center;
    padding: 10px;
    padding-left: 30px;
    margin: 0px;
  }
  .sideBar-list-item p {
    margin: 0px;
  }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
  .sideBar-container {
    width: 28%;
  }
  .sidebar-contact-image {
    height: 40px;
    width: 40px;
    margin-right: 12px;
  }
  .sideBar-list-item p {
    font-size: 24px;
  }
  .contact-us-heading {
    font-size: 22px;
  }
  .contact-us-para {
    font-size: 22px;
  }
}

@media screen and (min-width: 1200px) {
  .sideBar-container {
    width: 20%;
  }
}
